<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Whatever-ify</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.21/vue.global.prod.min.js"
      integrity="sha512-tltvjJD1pUnXVAp0L9id/mcR+zc0xsIKmPMJksEclJ6uEyI8D6eZWpR0jSVWUTXOKcmeBMyND+LQH4ECf/5WKg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <div id="app">
      <h1>{{whateverTitle}}</h1>
      <h2>Your Hobbies</h2>
      <p :class="'teaching ' + whatever">We will use these to add to your creation</p>
      <input
        type="text"
        size="50"
        v-model="hobbies"
        placeholder="Enter your hobbies"
      />
      <div v-if="hobbies">
        <p :class="'teaching ' + whatever">Now can you provide a photo of yourself so we can generate some descriptive text. Your photo will not be stored.</p>
        <input
          type="file"
          @change="handleFileUpload"
          accept="image/*"
          style="display: none"
          ref="fileInput"
        />
        <div
          class="drop-area"
          @click="triggerFileInput"
          @dragover.prevent="handleDragOver"
          @drop.prevent="handleDrop"
        >
          Drag your image here or <span class="link">browse</span> to upload
        </div>
        <button @click="toggleWebCam">📸 or snap a new one with your webcam</button>
        <div v-if="isWebCamOn">
          <video ref="webcam" id="webcam" autoplay style="max-width: 400px"></video>
          <button @click="capturePhoto">Capture Photo</button>
          <canvas ref="snapshot" id="snapshot" style="display: none"></canvas>
        </div>
      </div>

      <div v-if="image">
        <img :src="image" alt="Uploaded Image" style="max-width: 400px" />
        <p :class="'teaching ' + whatever">
          We are using AI Vision with the model
          <a
            href="https://developers.cloudflare.com/workers-ai/models/uform-gen2-qwen-500m/"
            >uform-gen2-qwen-500m</a
          >
        </p>
        <p><strong>Description</strong>: {{ imageDescription }}</p>
      </div>
      <div v-if="imageDescription">
        <p :class="'teaching ' + whatever">We are using the text generation model
          <a href="https://developers.cloudflare.com/workers-ai/models/openhermes-2.5-mistral-7b-awq"
            >openhermes-2.5-mistral-7b-awq</a
          >
          to generate a scene based on your hobbies and a character based on your description.
        </p>
        <p><strong>Scene</strong>: {{ creativeScene }}</p>
        <p><strong>Character</strong>: {{ creativeCharacter }}</p>        
      </div>

      <div v-if="prompt">
        <p :class="'teaching ' + whatever">Now we are going to use the creative scene and character to generate a Stable Diffusion prompt.</p>
        <p><strong>Stable Diffusion prompt</strong>: {{ prompt }}</p>        
        <p :class="'teaching ' + whatever">Next we'll send the prompt to the text to image model <a href="https://developers.cloudflare.com/workers-ai/models/stable-diffusion-xl-lightning">stable-diffusion-xl-lightning</a></p>
      </div>
      <div v-if="whateverImage">
        <h2>Your {{ whateverTitle }}:</h2>
        <img :src="whateverImage" alt="{{whateverTitle}} Version" style="max-width: 400px" />
        <button @click="updateWhateverImage">Try again</button>
      </div>
    </div>
    <div class="footer">
      <p>Built with 🧡 on Cloudflare <a href="https://ai.cloudflare.com">Workers AI</a></p>
    </div>
    <script>
      // These are stamped in statically
      window.whatever = "STATIC_WHATEVER";
      window.whateverTitle = "STATIC_WHATEVER_TITLE";
    </script>
    <!-- Vue.js 3 -->
    <script src="/static/app.js"></script>
  </body>
</html>
